@import "tailwindcss";
@theme{
  --color-mobilenav:hsl(0 0% 0% / 0.5);
  --color-navlinkDark-text:#d1d5dc;
  --color-navlinkDark-hover:hsl(50, 100%, 69%);
  --color-navlinkLight-text:#364153;
  --color-navlinkLight-hover:hsl(189, 100%, 56%);


}
@custom-variant pn (@media (max-width: 36.875em));
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root[data-theme="dark"]{
  --text: #ffffffde;
  --background: #121212; 
  --navlink-active:hsl(50, 100%, 49%);

}

:root[data-theme="light"] {
  --background: #ffffff;
  --text: #213547;
  --navlink-text:#364153;
  --navlink-hover:hsl(189, 100%, 56%);
  --navlink-active:hsl(189, 100%, 26%);
}

body{
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    --background: #ffffff;
    --text: #213547;
    
    --navlink-active:#007185;

  }
  a[aria-current="page"]{
    border-bottom-width: 2px;
    border-color:var(--navlink-active);
    color: var(--navlink-active);
  }
}

a[aria-current="page"]{
  border-bottom-width: 2px;
  color:var(--navlink-active)
}




