@import "tailwindcss";
@theme{
  --color-mobilenav:hsl(0 0% 0% / 0.5);
  --color-navlinkDark-text:#d1d5dc;
  --color-navlinkDark-hover:hsl(50, 100%, 69%);
  --color-navlinkLight-text:#364153;
  --color-navlinkLight-hover:hsl(189, 100%, 36%);
  --color-textDark-100:#B7CAD4;
  --color-textDark-100:#bfbfbf;
  --color-textDark-900:#EEF1F3;
  --color-textLight-100:#6a7282;
  --color-textLight-900:#364153;


}
@custom-variant pn (@media (max-width: 36.875em));
@custom-variant dl (@media (min-width:57.5em));
@custom-variant fx (@media (min-width:77.5em));
.bold-on-hover {
  @apply font-normal transition duration-200;
}

.bold-on-hover:hover {
  text-shadow: 0.25px 0 0.1px, -0.25px 0 0.1px;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root[data-theme="dark"]{
  --text: #aaa;
  --background: #121212; 
  --navlink-active:hsl(50, 100%, 49%);

}

:root[data-theme="light"] {
  --background: #ffffff;
  --text: #213547;
  --navlink-active:hsl(189, 100%, 26%);
  --navlink-text:#364153;
  
}

body{
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    --background: #ffffff;
    --text: #213547;
    --navlink-active:#007185;
  --color-textLight-100:#6a7282;
  --color-textLight-900:#364153; 
   

  }
  a[aria-current="page"]{
    border-bottom-width: 2px;
    border-color:var(--navlink-active);
    color: var(--navlink-active);
  }
}

a[aria-current="page"]{
  border-bottom-width: 2px;
  color:var(--navlink-active);
  text-shadow: 0.25px 0 0.1px, -0.25px 0 0.1px;
}
.no-scroll {
  overflow-y: hidden;
}
/* ::-webkit-scrollbar{
  display:none;
} */





