@import "tailwindcss";
@theme{
 
  --color-navlink-active:#e07e1b;


}
@custom-variant pn (@media (max-width: 36.875em));
@custom-variant dl (@media (min-width:57.5em));
@custom-variant fx (@media (min-width:77.5em));
@custom-variant fm (@media (min-width:31.25em));
.bold-on-hover {
  @apply font-normal transition duration-200;
}

.bold-on-hover:hover {
  text-shadow: 0.25px 0 0.1px, -0.25px 0 0.1px;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root[data-theme="dark"]{
  --background: hsl(180, 6%, 10%);
  --text: hsl(180, 6%, 95%);
  --border:hsl(180,6%,65%);
  --navlink-active:#e07e1b;
  --surfaceElementBg:hsl(180, 6%, 15%);
  --surfaceElementText:hsl(180, 6%, 70%);
  --surfaceElementLight:hsl(180, 6%, 10%);
   
  
  
}

:root[data-theme="light"] {
  --background:hsl(180, 6%, 90%);
  --text: hsl(180, 6%, 5%);
  --border:hsl(180,6%,70);
  --navlink-active:hsl(30, 78%, 49%);
  --surfaceElementBg:hsl(180, 6%, 95%);
  --surfaceElementText:hsl(180, 6%, 30%);
  --surfaceElementLight:hsl(180, 6%, 100%);
  
  
}

body{
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #E3E6E6;
    --text: rgb(0,0,0);
    --navlink-active:#e07e1b;
  --color-textLight-100:#6a7282;
  --color-textLight-900:#364153; 
   

  }
  a[aria-current="page"]{
    border-bottom-width: 2px;
    border-color:var(--navlink-active);
    color: var(--navlink-active);
  }
}

a[aria-current="page"]{
  border-bottom-width: 2px;
  color:var(--navlink-active);
  text-shadow: 0.25px 0 0.1px, -0.25px 0 0.1px;
}
.no-scroll {
  overflow-y: hidden;
}
fieldset:has([required]) legend,
.form-group:has(:not([type="radio"])[required]) label{
  display: flex;
  gap:1ch;

  &::after{
    content:"*";
    color:red;
  }
  
}

.radio-group:has([type="radio"]:checked){
  background-color: hsl(148, 38%, 91%);
  border-color:hsl(169, 82%, 27%)
}
.radio-group input:checked ~ .checkmark{
  background-color:#2196F3;
}
.radio-group input:checked ~ .checkmark::after{
  display: block;
}

/* ::-webkit-scrollbar{
  display:none;
} */





